.animation-slide.ng-enter,
.animation-slide.ng-leave,
.animation-slide.animation-slide-back-add,
.animation-slide.animation-slide-back-remove {
  -webkit-transition: transform 650ms cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 1500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: transform 650ms cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 1500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: transform 650ms cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 1500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: transform 650ms cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 1500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 650ms cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 1500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.animation-slide.ng-enter-prepare,
.animation-slide.animation-slide-back-add-prepare {
  opacity: 0;
}

.animation-slide.ng-enter {
    transform: translateX(260px);
    -ms-transform: translateX(260px);
    -webkit-transform: translateX(260px);
    opacity: 0;
}

.animation-slide.ng-enter.ng-enter-active, 
.animation-slide.ng-enter-prepare.ng-enter-active,
.animation-slide.ng-leave,
.animation-slide.animation-slide-back-add.animation-slide-back-add-active, 
.animation-slide.animation-slide-back-add-prepare.animation-slide-back-add-active,
.animation-slide.animation-slide-back-remove {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
}

.animation-slide.ng-leave.ng-leave-active,
.animation-slide.animation-slide-back-add {
    transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -webkit-transform: translateX(-260px);
    opacity: 0;
}