// **** TAGS
$mfc-icon-big: 32px;
$mfc-h1: 24px;
$mfc-h2: 22px;
$mfc-h3: 18px;
$mfc-h4: 16px;
$mfc-h5: 14px;

// **** SIZES
$mfc-fnt-xs: 12px;
$mfc-fnt-s: 13px;
$mfc-fnt-m: 14px;
$mfc-fnt-xm: 15px;
$mfc-fnt-l: 16px;
$mfc-fnt-lm: 18px;
$mfc-fnt-xl: 20px;
$mfc-fnt-xxl: 22px;
$mfc-fnt-xxxl: 24px;

$mfc-fnt-label: 15px;
$mfc-fnt-xxxxl: 27px;

// **** COMPONENTS
$mfc-fnt-size-modality: 28px;
$mfc-fnt-price-big: 27px;
$mfc-fnt-contract-text: 23px;

// **** FONT FAMILIES
$mfc-font-family__mapfre-icons: 'mfc-mapfre';
$mfc-font-family__notosans: 'noto_sansregular', 'sans-serif';
$mfc-font-family__roboto: 'robotoregular', 'sans-serif';
$mfc-font-family__roboto-light: 'robotolight', 'sans-serif';

// Mapfre icons

@font-face {
  font-family: 'mfc-mapfre';
  src: url('src/assets/fonts/mfc_icons/iconfont.eot?-nhmzz4');
  src: url('src/assets/fonts/mfc_icons/iconfont.eot?#iefix-nhmzz4') format('embedded-opentype'), url('src/assets/fonts/mfc_icons/iconfont.woff?-nhmzz4') format('woff'), url('src/assets/fonts/mfc_icons/iconfont.ttf?-nhmzz4') format('truetype'), url('src/assets/fonts/mfc_icons/iconfont.svg?-nhmzz4#mfc-mapfre') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sansregular';
  src: url('src/assets/fonts/notosans_regular/NotoSans-Regular-webfont.eot');
  src: url('src/assets/fonts/notosans_regular/NotoSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('src/assets/fonts/notosans_regular/NotoSans-Regular-webfont.woff') format('woff'), url('src/assets/fonts/notosans_regular/NotoSans-Regular-webfont.ttf') format('truetype'), url('src/assets/fonts/notosans_regular/NotoSans-Regular-webfont.svg#noto_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight';
  src: url('src/assets/fonts/roboto_light/Roboto-Light-webfont.eot');
  src: url('src/assets/fonts/roboto_light/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('src/assets/fonts/roboto_light/Roboto-Light-webfont.woff') format('woff'), url('src/assets/fonts/roboto_light/Roboto-Light-webfont.ttf') format('truetype'), url('src/assets/fonts/roboto_light/Roboto-Light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('src/assets/fonts/roboto_regular/Roboto-Regular-webfont.eot');
  src: url('src/assets/fonts/roboto_regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('src/assets/fonts/roboto_regular/Roboto-Regular-webfont.woff') format('woff'), url('src/assets/fonts/roboto_regular/Roboto-Regular-webfont.ttf') format('truetype'), url('src/assets/fonts/roboto_regular/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
