.mfc-form-field__info-area {
  font-size: $mfc-fnt-xs;
  clear: both;
}

.mfc-form-field__info-area__help-text {
  color: $mfc-gray__super_dark;
  font-size: $mfc-fnt-xs;
  padding-top: 12px;
  font-style: italic;
}

.mfc-form-field__info-area__error-container {
  display: block;
  margin: 0;
  padding: 0;

  ~ .mfc-form-field__info-area__help-text {
    margin-top: 12px;
    padding-top: 0;
  }
}


.mfc-form-field__info-area__error-container__error-item {
  color: $mfc-red__light;
  display: inline-block;
  font-size: $mfc-fnt-xs;
  height: 100%;
  list-style: none;
  margin: 12px 0 0;
  overflow: visible;
  width: 100%;
}

.mfc-u-classic__left {
  /*@media (min-width: 768px) {

    .mfc-form-field__info-area {
      clear: both;
      margin-left: 25%;
    }
  }*/

  @media(min-width: 960px) {
    .mfc-form-field__info-area {
      margin-left: 16.6%;
    }
  }
}

.mfc-u-rtl {
  .mfc-u-classic__left {
    /*@media(min-width: 768px) {
      .mfc-form-field__info-area {
        clear: both;
        margin-right: 25%;
      }
    }*/

    @media (min-width: 960px) {
      .mfc-form-field__info-area {
        margin-right: 16.6%;
      }
    }
  }
}

@media (min-width: 1024px) {
    a[href^='tel'] {
        pointer-events: none;
        cursor: text;
        text-decoration: none;
    }
}

@media (max-width: 1023px) {
    a[href^='tel']:hover {
        text-decoration: none;
    }
}
:-ms-input-placeholder{
    color: $mfc-placeholder !important;
}