// scss-lint:disable ImportantRule

label {
  font-weight: normal;
}

.mfc-icon {
  vertical-align: middle;
}

em,
i {
  font-style: normal;
}

b {
  font-weight: normal;
}


.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}

@media (min-width: 960px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px){
  .container {
    width: 1200px;
  }
}



.mfc-u-rtl {
  direction: rtl;

  .mfc-u-tooltip {
    left: -5px;
    //line-height: 1;
    right: initial;
  }

  .mfc-u--col-is-rtl {
    float: right;
  }
}

.mfc-u-inline {
  display: inline;
}

.mfc-u-vertical-alligned {
  position: relative !important;
  top: 50%;
  transform: translateY(-50%) !important;
}

.mfc-u-center-alligned {
  left: 50%;
  position: absolute !important;
  top: 50%;
  transform: translate(-50%, -50%) !important;
}

.mfc-u-div-inline {
  display: inline;
}

.mfc-u-div-inline--flex {
  display: inline-flex;
}

.mfc-u-img-circle {
  border-radius: 50%;
}


// **** COMMONS

// Common material theme varibles
$mfc-material__transition-time: .3s ease;

// Common spacing variables
$mfc-xs-standard-padding: 8px;
$mfc-standard-padding: 10px;
$mfc-sm-standard-padding: 12px;
$mfc-md-standard-padding: 15px;
$mfc-lg-standard-padding: 20px;
$mfc-xl-standard-padding: 25px;

// Common marging variables
$mfc-standard-margin: 10px;
$mfc-sm-standard-margin: 12px;
$mfc-md-standard-margin: 15px;
$mfc-lg-standard-margin: 20px;
$mfc-xl-standard-margin: 25px;
$mfc-xxl-standard-margin: 40px;
// Common border radius
$mfc-standard-border-radius: 3px;
$mfc-border-radius-full: 100%;

// sup text positioning
$mfc-price-sup-top: -1.1em;

.mfc-clear-fix {
  clear: both;
  height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

.mfc-u-input {
  height: 40px;
}

.mfc-u-input-size--xl,
.mfc-u-input-size--l,
.mfc-u-input-size--m,
.mfc-u-input-size--s,
.mfc-u-input-size--xs,
.mfc-u-input-size--default {
  width: 100%;
}

@media (min-width: 960px) {
  .mfc-u-input-size--xl {
    width: 601px;
  }

  .mfc-u-input-size--full {
    width: 100%;
  }

  .mfc-u-input-size--l,
  .mfc-u-input-size--default {
    width: 480px;
  }

  .mfc-u-input-size--m {
    width: 296px;
  }

  .mfc-u-input-size--s {
    width: 236px;
  }

  .mfc-u-input-size--xs {
    width: 175px;
  }

//CLASSIC LEFT
  .mfc-u-classic__left {
    width: 100%;

    .mfc-u-input__label {
      width: 25%;
    }

    &.mfc-u-input-size--xl {
      .mfc-u-input {
        width: 50%;
      }
    }

    &.mfc-u-input-size--l,
    &.mfc-u-input-size--xs,
    &.mfc-u-input-size--default {
      .mfc-u-input {
        width: 33.33%;
      }
    }

    &.mfc-u-input-size--m {
      .mfc-u-input {
        width: 25%;
      }
    }

    &.mfc-u-input-size--s {
      .mfc-u-input {
        width: 16.67%;
      }
    }
  }
}


@media (min-width: 960px) {
  .mfc-u-input-size--xl {
    width: 590px;
  }

  .mfc-u-input-size--full {
    width: 100%;
  }

  .mfc-u-input-size--l,
  .mfc-u-input-size--default {
    width: 488px;
  }

  .mfc-u-input-size--m {
    width: 386px;
  }

  .mfc-u-input-size--s {
    width: 284px;
  }

  .mfc-u-input-size--xs {
    width: 182px;
  }

  .mfc-u-classic__left {
    width: 100%;

    .mfc-u-input__label {
      width: 16.67%;
    }

    &.mfc-u-input-size--full {
      .mfc-u-input {
        width: 73%;
      }
    }

    &.mfc-u-input-size--xl {
      .mfc-u-input {
        width: 33.33%;
      }
    }

    &.mfc-u-input-size--l,
    &.mfc-u-input-size--xs,
    &.mfc-u-input-size--default {
      .mfc-u-input {
        width: 25%;
      }
    }

    &.mfc-u-input-size--m {
      .mfc-u-input {
        width: 16.67%;
      }
    }

    &.mfc-u-input-size--s {
      .mfc-u-input {
        width: 8.3%;
      }
    }
  }

  .col-md-1 {
    width: 8.33333%;
  }

  .col-md-2 {
    width: 16.66667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333%;
  }

  .col-md-5 {
    width: 41.66667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333%;
  }

  .col-md-8 {
    width: 66.66667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33333%;
  }

  .col-md-11 {
    width: 91.66667%;
  }

  .col-md-12 {
    width: 100%;
  }
}


$pension-simulation-standard-gutter: 15px;

@media (min-width: 960px) {

  .background-image-gutter {
    padding-bottom: 150px !important;
  }

  .margin-bottom {
    margin-bottom: 120px !important;
    overflow: hidden;
    height: 100%;
  }

  .padding-bottom {
    padding-bottom: 120px !important;
    overflow: hidden;
    height: 100%;
  }

}