//****CUSTOM VARIABLES
$mfc-standard-link-color-icon: #4b4b4b;

.mfc-standard-link--a-ubication {
  border-bottom: 0;
  font-family: $mfc-font-family__notosans;
  font-size: $mfc-fnt-s;
  text-decoration: none;

  .mfc-standard-link__a--text {
    color: $mfc-red__mapfre2;
    display: inline-table;
    vertical-align: middle;

    &:active {
      color: $mfc-black;
    }
  }

  .mfc-icon {
    color: $mfc-standard-link-color-icon;
    font-size: $mfc-fnt-xxl;
    margin-right: $mfc-sm-standard-margin;
    vertical-align: middle;
  }
}

.mfc-standard-link--a-ubication-icon-top {
  border-bottom: 0;
  color: $mfc-black;
  font-family: $mfc-font-family__notosans;
  font-size: $mfc-fnt-s;
  text-align: center;
  text-decoration: none;

  .mfc-standard-link__a--text {
    color: $mfc-red__mapfre2;
    display: block;

    &:active {
      color: $mfc-black;
    }
  }

  .mfc-icon {
    color: $mfc-standard-link-color-icon;
    font-size: $mfc-fnt-xxl;
    margin-bottom: 4px;
    margin-right: 0;
  }
}

.mfc-standard-link--a-normal {
  font-family: $mfc-font-family__notosans;
  font-size: $mfc-fnt-s;
  text-decoration: none;

  .mfc-standard-link__a--text {
    color: $mfc-red__mapfre2;
    text-decoration: underline;

    &:focus,
    &:hover {
      color: $mfc-red__mapfre3 !important;
      text-decoration: none;
    }
  }
}

.mfc-standard-link--a-ico {
  color: $mfc-red__mapfre2;
  font-family: $mfc-font-family__notosans;
  font-size: $mfc-fnt-s;
  margin-top: $mfc-xxl-standard-margin;
  text-decoration: none;

  &:focus,
  &:hover {
    color: $mfc-red__mapfre3;
    text-decoration: none;
  }

  .mfc-standard-link__a--text {
    display: inline-block;
    float: left;
    margin-right: $mfc-standard-margin;

    &:active,
    &:hover {
      color: $mfc-red__mapfre3 !important;
    }
  }
}

.mfc-standard-link--a-circle {
  border-bottom: 0;
  font-family: $mfc-font-family__notosans;
  font-size: $mfc-fnt-s;
  padding-bottom: $mfc-lg-standard-padding;
  text-align: center;
  text-decoration: none;

  .mfc-standard-link__a--text {
    color: $mfc-black;
    font-size: $mfc-fnt-s;
    padding-top: 17px;
  }

  .mfc-icon {

    &::before {
      background-color: $mfc-red__mapfre2;
      border-radius: 27px;
      color: $mfc-white;
      display: inline-block;
      font-size: $mfc-fnt-size-modality;
      padding: 11px;
    }
  }
}
