//$mfc-material__transition-time: .3s;

@mixin material_border--idle ($material-border-color--idle: $mfc-gray__light) {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid $material-border-color--idle;
  box-shadow: 0 0 0 0 $material-border-color--idle;
  outline: none;
}

@mixin material_border--focus ($material-border-color--focus: $mfc-clr-material-border-bottom) {
  box-shadow: 0 1px 0 0 $material-border-color--focus;
  border-bottom: 1px solid $material-border-color--focus;
}

@mixin material_border--blur ($material-border-color--blur: $mfc-gray__light) {
  border-bottom: 1px solid $material-border-color--blur;
  box-shadow: 0 0 0 0 $material-border-color--blur;
}

@mixin material_border--error ($material-border-color--error: $mfc-red__light) {
  border-bottom: 1px solid $material-border-color--error;
  box-shadow: 0 1px 0 0 $material-border-color--error;
}



$outlinedBorder: 1px solid #9a9a9a;
$outlinedBorderHover: 1px solid #727272;
$outlinedBorderFocus: 2px solid #6200ee;
$outlinedBorderError: 1px solid #d81e05;
$outlinedBorderErrorFocus: 2px solid #d81e05;

// label
$outlinedLabelFontsize: 16px;
$outlinedLabelFontsizeFocus: 12px;
$outlinedLabelPaddingFocus: 4px;
$outlinedLabelLeft: 14px;
$outlinedLabelTop: 15px;
$outlinedLabelTopFocus: -6px;
$outlinedLabelColor: #666;

// leyenda
$outlinedHelpTextFontsize: 12px;
$outlinedHelpTextColor: #ccc;
$outlinedHelpTextPaddingLeft: 12px;

// error
$outlinedErrorColor: #d81e05;
$outlinedErrorFontsize: 12px;

// campo
$outlinedFieldHeight: 53px;
$outlinedFieldColor: #000;
$outlinedFieldPadding: 12px 16px;
$outlinedFieldFontsize: 16px;
$outlinedFieldBorderRadius: 4px;