.mfc-u-riched-content {
  font-family: $mfc-font-family__notosans;

  a {
    color: $mfc-red__mapfre2;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      color: $mfc-red__mapfre3;
      text-decoration: none;
    }
  }

  i,
  em {
    font-style: italic;
  }

  b,
  strong {
    font-weight: bold;
  }

  li {
    margin: 10px 0;
  }

  p {
    line-height: 22px;
  }
  &.font-size-18 {
    font-size: 18px;
  }
  &.narrow {
    width: 75%;
  }
  &.center {
    margin: 0 auto;
  }
}
