@-ms-viewport {
  width: auto;
}

.mfc-u-shadow-box {
  bottom: 0;
  display: table;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 300;

  .mfc-u-shadow-box-wrapper {
    height: auto;
  }

  .mfc-u-shadow-box-middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .mfc-u-shadow-box-content {
    height: 100%;
    overflow: none !important;
    -webkit-overflow-scrolling: touch !important;
    &.mfc-js-shadow-box-content {
      p {
        font-weight: normal;
        font-size: 16px;
        &:first-child {
          font-weight: 700;
          font-size: 18px;
        }
      }
    }

    iframe {
      height: 500px;
      width: 100%;
    }

    // iPad hack
    @supports (overflow:-webkit-marquee) and (justify-content:inherit) {
      height: 100%;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      width: 100%;
    }

    // iPhone hack
    @media screen and (max-device-width: 480px) {
      height: 100%;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      width: 100%;
    }
  }

  .mfc-u-shadow-box-wrapper {
    background-color: $mfc-white;
    border-radius: 3px;
    box-shadow: 0 10px 128px -27px $mfc-black-75;
    display: inline-block;
    margin: 0;
    overflow: auto;
    padding: 35px 35px 20px 20px;
    position: relative;
    max-width: 790px;
    text-align: left;
    width: auto;

    // iPad hack
    @supports (overflow:-webkit-marquee) and (justify-content:inherit) {
      max-height: inherit;
    }

    // iPhone hack
    @media screen and (max-device-width: 480px) {
      max-height: inherit;
    }
  }

  .mfc-u-shadow-box-background {
    background-color: $mfc-black;
    bottom: 0;
    left: 0;
    opacity: .3;
    position: absolute;
    right: 0;
    top: 0;
  }

  .mfc-u-shadow-box__iphone--ui--fix {
    background-color: $mfc-black;
    bottom: -69px;
    height: 69px;
    left: 0;
    opacity: .3;
    position: absolute;
    right: 0;
    width: 100%;
  }

  .mfc-u-shadow-box-close {
    background: transparent;
    border: 0;
    float: right;
    font-size: 14px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    
    width: 20px;

    .mfc-icon {
      outline: 0;
      transform: rotate(45deg);
      
      position: relative;
      font-size: 20px;
    }
  }

  @media (max-width: 959px) {
    .mfc-u-shadow-box-wrapper {
      margin: 0;
      width: 95%;
      max-width: none;
    }
  }

  @media (max-width: 959px) {
    /*.mfc-u-shadow-box-wrapper {
      margin: 0 calc(50% - 155px);
      width: 310px;
    }*/

    .mfc-u-shadow-box-wait-message {
      padding-bottom: 22px;
      padding-top: 12px;
    }
  }
}
@media (max-width: 959px) {
  .mfc-u-shadow-box {
    z-index: 500;
    .mfc-u-shadow-box-wrapper {
      max-height: calc(100vh - 30px);
      height: auto;
    }
  }
}
