@-ms-viewport {
  width: auto;
}

.mfc-shadow-box {
  bottom: 0;
  display: table;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 300;

  .mfc-shadow-box-wrapper {
    height: 80%;
  }

  .mfc-shadow-box-middle {
    display: table-cell;
    vertical-align: middle;
  }

  .mfc-shadow-box-content {
    height: 100%;
    overflow: auto !important;
    -webkit-overflow-scrolling: touch !important;

    iframe {
      height: 500px;
      width: 100%;
    }

    // iPad hack
    @supports (overflow:-webkit-marquee) and (justify-content:inherit) {
      height: 100%;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      width: 100%;
    }

    // iPhone hack
    @media screen and (max-device-width: 480px) {
      height: 100%;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      width: 100%;
    }
  }

  .mfc-shadow-box-wrapper {
    background-color: $mfc-white;
    border-radius: 3px;
    box-shadow: 0 10px 128px -27px $mfc-black-75;
    display: inline-block;
    margin: 0 calc(50% - 395px);
    overflow: auto;
    padding: 20px;
    position: relative;
    width: 790px;

    // iPad hack
    @supports (overflow:-webkit-marquee) and (justify-content:inherit) {
      max-height: inherit;
    }

    // iPhone hack
    @media screen and (max-device-width: 480px) {
      max-height: inherit;
    }
  }

  .mfc-shadow-box-background {
    background-color: $mfc-black;
    bottom: 0;
    left: 0;
    opacity: .3;
    position: absolute;
    right: 0;
    top: 0;
  }

  .mfc-shadow-box__iphone--ui--fix {
    background-color: $mfc-black;
    bottom: -69px;
    height: 69px;
    left: 0;
    opacity: .3;
    position: absolute;
    right: 0;
    width: 100%;
  }

  .mfc-shadow-box-close {
    background: transparent;
    border: 0;
    float: right;
    height: 14px;
    margin-bottom: 10px;
    top: 20px;
    width: 14px;

    .mfc-icon {
      outline: 0;
      transform: rotate(45deg);
    }
  }

  @media (max-width: 991px) {
    .mfc-shadow-box-wrapper {
      margin: 0 calc(50% - 300px);
      width: 600px;
    }
  }

  @media (max-width: 767px) {
    .mfc-shadow-box-wrapper {
      margin: 0 calc(50% - 155px);
      width: 310px;
    }

    .mfc-shadow-box-wait-message {
      padding-bottom: 22px;
      padding-top: 12px;
    }
  }
}
