.mfc-u-folding-box {
  background-color: $mfc-white__light;
  font-family: $mfc-font-family__notosans;
  font-size: $mfc-fnt-m;
  padding: 15px 20px;

  &.mfc-u-folding-box--right-column {
    .mfc-u-folding-box__title {
      display: block;
      width: 100%;
    }
  }

  &.mfc-u-folding-box__collapse--alert {
    background: 0;
    border: 1px solid $mfc-red__mapfre;
  }

  &.mfc-u-folding-box__collapse--faq {
    background: 0;
    border: 1px solid $mfc-gray__ultra_light;
  }

  .mfc-u-folding-box__title {
    cursor: pointer;
    font-size: $mfc-fnt-m;
    font-weight: bold;
    margin: 0;
    position: relative;
    text-align: left;
    width: 100%;
  }

  .mfc-icon--triangle-down {
    font-size: 10px;
    position: absolute;
    right: 0;
    top: 4px;

    &.mfc-icon--triangle-down--rotate {
      transform: rotate(180deg);
    }
  }

  .mfc-u-folding-box__collapse__content {
    overflow: hidden;
    padding-top: 20px;

    .mfc-u-folding-box__collapse__content__icon {
      display: none;
      float: left;
      font-size: 48px;
      margin-right: 20px;
    }

    .mfc-u-folding-box__collapse__content__title {
      display: none;
      font-size: $mfc-fnt-m;
      margin: 0 0 10px;
    }

    .mfc-u-folding-box__collapse__content__description {
      float: none;
      width: 100%;

      ul {
        margin: 0;
        padding-left: 18px;

        @-moz-document url-prefix() {
          margin-left: -6px;
        }

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          margin-left: -6px;
        }

        @supports (-ms-accelerator:true) {
          margin-left: -6px;
        }

        li {
          padding-bottom: 5px;
        }
      }
    }

    .mfc-u-folding-box__collapse__content__description--no-icon {
      float: none;
      width: 100%;
    }

    .mfc-u-folding-box__collapse__content__option-selected {
      clear: both;
    }
  }
}

.mfc-u-rtl {

  .mfc-u-folding-box {

    .mfc-u-folding-box__title {
      text-align: right;
    }

    .mfc-icon--triangle-down {
      left: 0;
      right: inherit;
      top: 4px;
    }

    .mfc-u-folding-box__collapse__content {

      .mfc-u-folding-box__collapse__content__description {
        ul {
          padding-right: 20px;
        }
      }

      .mfc-u-folding-box__collapse__content__icon {
        float: right;
        margin-left: 20px;
        margin-right: 0;
      }
    }
  }
}

@media (min-width: 768px) {

  .mfc-u-folding-box {

    .mfc-u-folding-box__title {
      display: none;
    }

    &.mfc-u-folding-box--no-right-column {
      padding-top: 15px;

      .mfc-u-folding-box__collapse__content {
        display: block !important;
        padding-top: 0;

        .mfc-u-folding-box__collapse__content__title {
          display: block;
          font-weight: bold;
          margin-bottom: 10px;
        }
      }
    }

    .mfc-u-folding-box__collapse__content {

      .mfc-u-folding-box__collapse__content__icon {
        display: block;
      }

      .mfc-u-folding-box__collapse__content__description {
        float: left;
        width: 70%;
      }
    }

    &.mfc-u-folding-box--right-column {

      .mfc-u-folding-box__collapse__content {

        .mfc-u-folding-box__collapse__content__description {
          float: none;
          width: 100%;
        }

        .mfc-u-folding-box__collapse__content__icon {
          display: none;
        }
      }
    }
  }

  .mfc-u-rtl {

    .mfc-u-folding-box {

      .mfc-u-folding-box__collapse__content {

        .mfc-u-folding-box__collapse__content__description {
          float: right;

          @-moz-document url-prefix() {
            margin-right: -6px;
          }

          @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            margin-right: -6px;
          }

          @supports (-ms-accelerator:true) {
            margin-right: -6px;
          }
        }
      }
    }
  }
}
